body img {
    border-radius: 8px
}
/* ------------------
 * Comment list
 * --------------- */
#comments {
    padding-top: 15px;
}
#comments textarea  {
    background-color: #222;
    width: 80%;
}
#comments button {
    background: #222;
}
#comments input {
    background: #222;
    width: 80%;
}
.comment-list, .comment-list ol {
    list-style: none;
    margin: 0;
    padding: 0;
}
.comment-list li {
    padding: 14px;
    margin-top: 10px;
    border: 1px solid #eeeeee;
    border-radius: 8px;
    width: 75%;
}
.comment-list li .comment-reply {
    text-align: right;
    font-size: .92857em;
}


.comment-author .avatar {
    float: left;
    margin-right: 10px;
    border-radius: 8px;
}
.comment-author cite {
    font-weight: bold;
    font-style: normal;
}

/* Comment reply */
.comment-list .respond {
    margin-top: 15px;
    border-top: 1px solid #EEE;
}
.respond .cancel-comment-reply {
    float: right;
    margin-top: 15px;
    font-size: .92857em;
}
#comment-form label {
    display: block;
    margin-bottom: .5em;
    font-weight: bold;
}
#comment-form .required:after {
    content: " *";
    color: #C00;
}